* {
  padding: 0;
  margin: 0;
}

.home_container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.Options {
  margin-top: 50px;
}
.Options > * {
  margin-bottom: 15px;
}
.Play_link,
.Heroes_link,
.Game_Modes_link,
.Battle_Pass_link {
  color: white;
  font-family: BankSansBoldOblique;
  font-size: 48px;
  text-decoration: none;
  margin-left: 30px;
}

.Play:hover,
.Heroes:hover,
.Game_Modes:hover,
.Battle_Pass:hover {
  padding-left: 2%;
  transition: 1s;
}

a.Play_link,
a.Heroes_link,
a.Game_Modes_link,
a.Battle_Pass_link,
a.Social_link,
a.Career_Profile_link,
a.Challenges_link,
a.Progression_link {
  background: linear-gradient(to right, #000, rgba(50, 60, 95, 1)),
    linear-gradient(to right, #fff, #fff);

  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.Social {
  display: flex;
}
.Social .social_icon {
  background-color: rgba(255, 115, 0, 0.89);
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  color: white;
}
.subOptions {
  margin-top: 30px;
}
.subOptions > * {
  margin-bottom: 5px;
}
.Social_link,
.Career_Profile_link,
.Challenges_link,
.Progression_link {
  color: white;
  font-family: BankSansRegular;
  font-size: 24px;
  text-decoration: none;
  margin-left: 30px;
}

.Social:hover,
.Career_Profile:hover,
.Challenges:hover,
.Progression:hover {
  padding-left: 2%;
  transition: 1s;
}
