* {
  padding: 0;
  margin: 0;
}

.notFound {
  color: white;
  font-size: 48px;
}

.character_name {
  background-image: linear-gradient(180deg, #fff, #000);
  width: fit-content;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
  margin: 30px;
  font-family: BankSansBold;
}

.character_breakdown {
  display: flex;
  flex: 9;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 200px;
  margin-right: 200px;
}

.character_image {
  display: flex;
  align-items: center;
}

.character_breakdown .character_image img {
  width: 240px;
}

.character_image,
.character_abilities,
.character_info {
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  font-size: 24px;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 3;
  color: white;
  font-family: BankSansRegular;
}

.character_stats {
  border: 2px solid white;
  border-radius: 5px;
  width: fit-content;
  margin: 10px;
}
.character_info > *,
.character_abilities > *,
.character_image > * {
  padding: 10px;
}
.more_info {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  left: 82%;
  bottom: 0;
  text-decoration: none;
  color: white;
}
